## Preprocessing

In [1]:
pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-2.11.0-cp37-cp37m-win_amd64.whl (1.9 kB)
Collecting tensorflow-intel==2.11.0; platform_system == "Windows"
  Using cached tensorflow_intel-2.11.0-cp37-cp37m-win_amd64.whl (266.3 MB)
Collecting tensorboard<2.12,>=2.11
  Using cached tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
Requirement already satisfied: libclang>=13.0.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (15.0.6.1)
Collecting flatbuffers>=2.0
  Using cached flatbuffers-23.1.21-py2.py3-none-any.whl (26 kB)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Using cached tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
Collecting absl-py>=1.0.0
  Using cached absl_py-1.4.0-py3-none-any.whl (126 kB)
Collecting grpcio<2.0,>=1.24.3
  Using cached grpcio-1.51.3-cp37-cp37m-win_amd64.whl (3.7 MB)
Collecting astunparse>=1.6.0
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting gast<=0.4.0,>=0.2.1
  Using cached gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting wrapt>=1.11.0
  Using cached wrapt-1.14.1-cp37-cp37m-win_amd64.whl (35 kB)
Collecting h5py>=2.9.0
  Using cached h5py-3.8.0-cp37-cp37m-win_amd64.whl (2.6 MB)
Requirement already satisfied: packaging in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (21.3)
Requirement already satisfied: setuptools in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (47.3.1.post20200622)
Collecting tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin"
  Using cached tensorflow_io_gcs_filesystem-0.30.0-cp37-cp37m-win_amd64.whl (1.5 MB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting protobuf<3.20,>=3.9.2
  Using cached protobuf-3.19.6-cp37-cp37m-win_amd64.whl (896 kB)
Collecting termcolor>=1.1.0
  Using cached termcolor-2.2.0-py3-none-any.whl (6.6 kB)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Collecting google-pasta>=0.1.1
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.15.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.1.1)
Requirement already satisfied: numpy>=1.20 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.21.6)
Requirement already satisfied: markdown>=2.6.8 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3.4)
Collecting google-auth<3,>=1.6.3
  Using cached google_auth-2.16.1-py2.py3-none-any.whl (177 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.28.1)
Collecting tensorboard-plugin-wit>=1.6.0
  Using cached tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.2)
Requirement already satisfied: wheel>=0.26 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.34.2)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Using cached tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Using cached google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from packaging->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.4.7)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.11.3)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Using cached rsa-4.9-py3-none-any.whl (34 kB)
Collecting cachetools<6.0,>=2.0.0
  Using cached cachetools-5.3.0-py3-none-any.whl (9.3 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.4)
Collecting MarkupSafe>=2.1.1
  Using cached MarkupSafe-2.1.2-cp37-cp37m-win_amd64.whl (16 kB)
Collecting requests-oauthlib>=0.7.0
  Using cached requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.7.0)
Collecting pyasn1<0.5.0,>=0.4.6
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Collecting oauthlib>=3.0.0
  Using cached oauthlib-3.2.2-py3-none-any.whl (151 kB)
Installing collected packages: absl-py, pyasn1, pyasn1-modules, rsa, cachetools, google-auth, grpcio, tensorboard-plugin-wit, tensorboard-data-server, oauthlib, requests-oauthlib, google-auth-oauthlib, protobuf, tensorboard, flatbuffers, tensorflow-estimator, astunparse, gast, wrapt, h5py, tensorflow-io-gcs-filesystem, opt-einsum, termcolor, google-pasta, tensorflow-intel, tensorflow, MarkupSafe
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\30798\\anaconda3\\envs\\pythondata\\lib\\site-packages\\~arkupsafe\\_speedups.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [1]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN','NAME'])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# if type < 100, group as 'other'
application_types_to_replace = ['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning

cls1 = df['CLASSIFICATION'].value_counts()
cls1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C2561        1
C1820        1
C2150        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1

cls = df['CLASSIFICATION'].value_counts().loc[lambda x : x>1] 
print(len(cls))
cls

45

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C1260        3
C0           3
C2710        3
C1256        2
C1234        2
C1246        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# FILTER CLS by values less than 1000. Use index for list
classifications_to_replace = (cls1[cls1<1000]).index
classifications_to_replace

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000',
       'C7120', 'C1500', 'C6000', 'C1800', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1237', 'C1235', 'C7210', 'C2400', 'C4100', 'C1720', 'C1257', 'C1600',
       'C1260', 'C0', 'C2710', 'C1256', 'C1234', 'C1246', 'C1267', 'C3200',
       'C2170', 'C5200', 'C4200', 'C1236', 'C1283', 'C1728', 'C1580', 'C2500',
       'C1732', 'C2570', 'C1570', 'C8210', 'C1245', 'C2190', 'C6100', 'C2600',
       'C2380', 'C1370', 'C1248', 'C4500', 'C3700', 'C4120', 'C2561', 'C1820',
       'C2150', 'C1900'],
      dtype='object')

In [9]:
# Replace in dataframe
for j in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(j,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
print(df.dtypes)
print('Status:')
print(df['STATUS'].value_counts())
print('INCOME_AMT')
print(df['INCOME_AMT'].value_counts())
df

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object
Status:
1    34294
0        5
Name: STATUS, dtype: int64
INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
df_cat = pd.get_dummies(df)
df_cat

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays

X = df_cat.drop(['IS_SUCCESSFUL'], axis=1)
y = df_cat['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = (train_test_split(X, y, random_state=1))

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer - INPUT FEATURES: 9 OR 44?
nn_model.add(tf.keras.layers.Dense(units=88, activation="relu", input_dim=44))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 88)                3960

 dense_10 (Dense)            (None, 30)                2670

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 6,661
Trainable params: 6,661
Non-trainable params: 0
_________________________________________________________________

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=18, activation="relu", input_dim=9))

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer


# Check the structure of the model
nn.summary()

In [22]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
# Create a callback that saves the model's weights every five epochs.
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 1ms/step - loss: 0.5696 - accuracy: 0.7215
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7280
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7284
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7318
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7322
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7337
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7349
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7362
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7361
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7374
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7376
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7364
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7375
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7369
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7382
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7389
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7389
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7380
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7382
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7372
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7395
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7392
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7380
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7398
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7402
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7402
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7399
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7394
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7390
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7398
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7395
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7395
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7393
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7403
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7402
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7403
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7395

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5557 - accuracy: 0.7291 - 1s/epoch - 4ms/step
Loss: 0.5556913018226624, Accuracy: 0.7290962338447571

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE