## Preprocessing

In [1]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0; platform_system == "Windows" in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.1.1)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.2)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: six>=1.12.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.15.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.4.0)
Requirement already satisfied: setuptools in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (47.3.1.post20200622)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.19.6)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin" in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.30.0)
Requirement already satisfied: packaging in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (21.3)
Requirement already satisfied: numpy>=1.20 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.21.6)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (23.1.21)
Requirement already satisfied: libclang>=13.0.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (15.0.6.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.6.3)
Requirement already satisfied: h5py>=2.9.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.8.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.51.3)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.2)
Requirement already satisfied: wheel>=0.26 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.34.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.16.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from packaging->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.4.7)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.3.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.1.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.9)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.11.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2022.6.15)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.2.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.8)
Requirement already satisfied: zipp>=0.5 in c:\users\30798\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.7.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN','NAME'])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

There are three columns that have more than 10 unique values. The categorical types will need to be binned to reduce the number of unique values. Numerical data does not need to be binned.

APPLICATION_TYPE: 17

CLASSIFICATION: 71

ASK_AMT: 8,747

In [5]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# if type < 100, group as 'other'
application_types_to_replace = ['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning

cls1 = df['CLASSIFICATION'].value_counts()
cls1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C3700        1
C2190        1
C8210        1
C1370        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

cls = df['CLASSIFICATION'].value_counts().loc[lambda x : x>1] 
print(len(cls))
cls

45

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1246        2
C1256        2
C1267        2
C1234        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# FILTER CLS by values less than 1000. Use index for list
classifications_to_replace = (cls1[cls1<1000]).index
classifications_to_replace

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C1720', 'C4100', 'C2400', 'C1257', 'C1600',
       'C2710', 'C0', 'C1260', 'C1246', 'C1256', 'C1267', 'C1234', 'C3200',
       'C1245', 'C2150', 'C1820', 'C2570', 'C2561', 'C5200', 'C2170', 'C4500',
       'C1248', 'C6100', 'C1732', 'C1570', 'C4200', 'C2500', 'C1283', 'C2600',
       'C1236', 'C4120', 'C1900', 'C2380', 'C1728', 'C1580', 'C3700', 'C2190',
       'C8210', 'C1370'],
      dtype='object')

In [10]:
# Replace in dataframe
for j in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(j,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`

print(df.dtypes)
print('Status:')
print(df['STATUS'].value_counts())
print('INCOME_AMT')
print(df['INCOME_AMT'].value_counts())
print('Is successful:')
print(df['IS_SUCCESSFUL'].value_counts())
df

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object
Status:
1    34294
0        5
Name: STATUS, dtype: int64
INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64
Is successful:
1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

The STATUS data is imbalanced - 5 out of 34294 instances are negative. This may be something to consider later when optimizing the model.

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
df_cat = pd.get_dummies(df)
df_cat

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays

# The target column is 'IS_SUCCESSFUL'
X = df_cat.drop(['IS_SUCCESSFUL'], axis=1)
y = df_cat['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = (train_test_split(X, y, random_state=1))

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer - INPUT FEATURES: 44. 2 neurons per feature: 88
nn_model.add(tf.keras.layers.Dense(units=88, activation="relu", input_dim=44))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 88)                3960

 dense_1 (Dense)             (None, 30)                2670

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,661
Trainable params: 6,661
Non-trainable params: 0
_________________________________________________________________

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=18, activation="relu", input_dim=9))

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer


# Check the structure of the model
nn.summary()

In [16]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
# Create a callback that saves the model's weights every five epochs.
model_weights = tf.keras.callbacks.ModelCheckpoint(
    filepath='./tmp/checkpoint',
    verbose= 1,
    save_weights_only= True,
    mode='auto',
    save_freq='epoch',
    period=5
)

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, callbacks=[model_weights])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7408
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7406
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7411
Epoch 5/100
800/804 [============================>.] - ETA: 0s - loss: 0.5336 - accuracy: 0.7407
Epoch 5: saving model to ./tmp\checkpoint
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7403
Epoch 10/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5340 - accuracy: 0.7409
Epoch 10: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7411
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7408
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7409
Epoch 15/100
770/804 [===========================>..] - ETA: 0s - loss: 0.5333 - accuracy: 0.7413
Epoch 15: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7416
Epoch 20/100
795/804 [============================>.] - ETA: 0s - loss: 0.5331 - accuracy: 0.7405
Epoch 20: saving model to ./tmp\checkpoint
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7405
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7408
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7408
Epoch 25/100
800/804 [============================>.] - ETA: 0s - loss: 0.5335 - accuracy: 0.7408
Epoch 25: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7401
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7409
Epoch 30/100
783/804 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7402
Epoch 30: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7404
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7412
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7403
Epoch 35/100
784/804 [============================>.] - ETA: 0s - loss: 0.5331 - accuracy: 0.7409
Epoch 35: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7409
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 40/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5330 - accuracy: 0.7402
Epoch 40: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7409
Epoch 45/100
798/804 [============================>.] - ETA: 0s - loss: 0.5324 - accuracy: 0.7408
Epoch 45: saving model to ./tmp\checkpoint
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7407
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 50/100
785/804 [============================>.] - ETA: 0s - loss: 0.5330 - accuracy: 0.7403
Epoch 50: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 55/100
802/804 [============================>.] - ETA: 0s - loss: 0.5322 - accuracy: 0.7408
Epoch 55: saving model to ./tmp\checkpoint
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7418
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 60/100
783/804 [============================>.] - ETA: 0s - loss: 0.5330 - accuracy: 0.7410
Epoch 60: saving model to ./tmp\checkpoint
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7410
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7403
Epoch 65/100

798/804 [============================>.] - ETA: 0s - loss: 0.5341 - accuracy: 0.7410
Epoch 65: saving model to ./tmp\checkpoint
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7412
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7414
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7417
Epoch 70/100
792/804 [============================>.] - ETA: 0s - loss: 0.5324 - accuracy: 0.7412
Epoch 70: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7410
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7416
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7413
Epoch 75/100
799/804 [============================>.] - ETA: 0s - loss: 0.5320 - accuracy: 0.7411
Epoch 75: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7407
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7412
Epoch 80/100
802/804 [============================>.] - ETA: 0s - loss: 0.5342 - accuracy: 0.7408
Epoch 80: saving model to ./tmp\checkpoint
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7409
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7415
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7413
Epoch 85/100
797/804 [============================>.] - ETA: 0s - loss: 0.5314 - accuracy: 0.7411
Epoch 85: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 90/100
777/804 [===========================>..] - ETA: 0s - loss: 0.5321 - accuracy: 0.7407
Epoch 90: saving model to ./tmp\checkpoint
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7412
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7418
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7412
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 95/100
782/804 [============================>.] - ETA: 0s - loss: 0.5326 - accuracy: 0.7414
Epoch 95: saving model to ./tmp\checkpoint
804/804 [==============================] - 3s 4ms/step - loss: 0.5324 - accuracy: 0.7413
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7414
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 100/100
800/804 [============================>.] - ETA: 0s - loss: 0.5324 - accuracy: 0.7416
Epoch 100: saving model to ./tmp\checkpoint
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7412

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5700 - accuracy: 0.7275 - 1s/epoch - 5ms/step
Loss: 0.5700255036354065, Accuracy: 0.7274635434150696

In [ ]:
# STARTER CODE
# Evaluate the model using the test data

# model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [27]:
# Export our model to HDF5 file

nn_model.save('AlphabetSoupCharity.h5')